*{
    margin: 0;
    padding: 0;
}
.grid{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}
.logomain{
    display: flex;
}
.logo img{
    width: 100%;
    width: 60px;
}
.logoname{
    font-family: 'Epilogue', sans-serif;
    width: 129px;
    text-align: center;
    margin-left: 5px;
    margin-top: -8px;
    color: white;
}
.headerflex li{
    list-style-type: none;
    margin-left: 50px;
}
.headerflex li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 100px;
}
.headerflex{
    display: flex;
    justify-content: space-between;
}
.headermaindiv{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    position: absolute;
}
.active{
    color: #C50E0E !important;
}
.contact{
    padding: 10px 20px;
    background-color: #C50E0E;
    color: white;
    border: none;
    border-radius: 3px;
    width: 140px;
    margin-top: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.herosecpic img{
    width: 100%;
}
.heroseccontent{
    position: absolute;
    font-family: 'Passion One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
}
.heroseccontent h1{
    width: 60% ;
    font-size: 60px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
.transform h2{
    font-family: 'Passion One', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    width: 250px;
    margin-left: 560px;
}
.transform span{
    color: #C50E0E;
}
.transform p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.dumbbellspic img{
    width: 580px;
    height: 650px;
    margin-left: 20px;
}
.contactw{
    font-family: 'Passion One', sans-serif;
    color: #C50E0E;
    font-size: 28px;
    margin-top: 20px;
}
.contactform{
    margin-right: 20px;
    margin-top: 40px;
}
.name,.phone,.email{
    padding: 12px 30px 12px 10px;
    border-radius: 5px;
    border: 2px solid #C50E0E;
    font-family: 'Poppins', sans-serif;
    width: 450px;
    outline: none;
    margin-top: 40px;
}
.message{
    padding: 12px 30px 0px 10px;
    border-radius: 5px;
    border: 2px solid #C50E0E;
    color: #757575;
    font-family: 'Poppins', sans-serif;
    width: 450px;
    height: 100px;
    margin-top: 40px;
    outline: none;
}
.register1{
    padding: 10px 0px;
    background-color: #C50E0E;
    border: none;
    border-radius: 3px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
.contactflex{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.connect{
    font-family: 'Passion One', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
}
.connect span{
    color: #C50E0E;
}
.facebook img,.instagram img,.youtube img,.linkedin img{
    width: 100%;
    width: 135px;
    height: 135px;
}
.socialicon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.color{
    background-color: #161515;
    margin-top: 50px;
}
.logomain1{
    display: flex;
    margin-top: 50px;
}
.logo1 img{
    width: 100%;
    width: 60px;
}
.logoname1{
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    color: white;
    margin-left: 5px;
}
.logoname1 h3{
    width: 70%;
}
.footercontent{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 310px;
    margin-top: 30px;
}
.locationcontent{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 280px;
    margin-top: 5px;
}
.callnumber{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 17px;
}
.locationflex{
    display: flex;
    margin-top: 30px;
}
.callflex{
    display: flex;
    margin-top: 30px;
}
.footermaindiv{
    display: flex;
    /* gap: 118px; */
    justify-content: space-between;
}
.pages{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
.pagesflex li{
    list-style-type: none;
    margin-top: 20px;
}
.pagesflex li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.pagescontent{
    margin-top: 44px;
}
.footersubdiv1{
    margin-left: 30px;
}
.newsletter{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
.newslettercontent{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 44px;
    width: 350px;
}
.emailflex{
    display: flex;
    margin-top: 30px;
}
.youremail{
    padding: 0px 0px 0px 5px;
    width: 260px;
    height: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    outline: none;
    border: none;
}
.subscribe{
width: 160px;
height: 55px;
border: none;
background: #C50E0E;
color: #FFF;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 18px;
cursor: pointer;
}
.copyright{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    padding:30px 0px;
}
.blackcolor{
    background: black;
}
.footersocialicon img{
    width: 100%;
    padding: 20px 0px;
}
.copyrightflex{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 500px) {
    .logo img {
        width: 30px;
    }

    .logoname {
        margin-left: 1px;
        margin-top: -4px;
        font-size: 10px;
        width: 86px;
    }

    .logoname h3 {
        width: 81px;
    }

    .headerflex li a {
        font-size: 8px;
        margin-right: 0px;
    }
    .headerflex li {
        margin-left: 10px;
    }

    .marginright1 {
        width: 72px;
    }

    .marginright2 {
        width: 72px;
    }

    .marginright3 {
        width: 35px;
    }

    .headermaindiv {
        margin-top: 10px;
    }

    .logomain {
        margin-top: 5px;
    }
    .heroseccontent h1 {
        width: 282px;
        font-size: 20px;
        letter-spacing: 2px;
        margin-left: 56px;
    }
    .heroseccontent {
        margin-top: 99px;
        margin-left: 12px;
    }

    .contact {
        padding: 6px 10px;
        width: 74px;
        font-size: 8px;
        margin-top: 5px;
        margin-left: 165px;
    }
    .transform h2 {
        margin-top: 25px;
        font-size: 15px;
        width: 157px;
        margin-left: 127px;
    }
    .transform p {
        font-size: 8px;
    }
    .dumbbellspic img {
        margin-left: 0px;
        width: 205px;
        height: auto;
    }
    .contactw {
        font-size: 12px;
        margin-top: 0px;
    }
    .name, .phone, .email {
        padding: 8px 30px 8px 5px;
        width: 150px;
        margin-top: 5px;
        font-size: 8px;
    }
    .message {
        padding: 8px 30px 8px 5px;
        width: 150px;
        height: 60px;
        margin-top: 5px;
        font-size: 8px;
    }
    .register1 {
        padding: 5px 0px;
        width: 122px;
        font-size: 10px;
        margin-top: 10px;
    }
    .contactform {
        margin-right: 3px;
        margin-top: 10px;
    }
    .contactflex {
        margin-top: 30px;
    }
    .socialicon {
        margin-top: 30px;
    }
    .facebook img, .instagram img, .youtube img, .linkedin img {
        width: 100%;
        width: 60px;
        height: 60px;
    }
    .connect {
        margin-top: 30px;
        font-size: 12px;
    }
    .logo1 img {
        width: 55px;
        margin-top: 15px;
    }
    .logoname1 {
        margin-left: 5px;
        margin-top: 22px;
        font-size: 12px;
        width: 219px;
    }
    .logoname1 h3 {
        width: 153px;
    }
    .footermaindiv{
        display: block;
    }
    .logomain1 {
        margin-left: -15px;
    }
    .footercontent {
        margin-top: 20px;
        font-size: 12px;
        margin-left: -16px;
    }
    .location img{
        width: 10px;
    }
    .location img {
        width: 30px;
    }
    .locationcontent {
        margin-top: 0px;
        font-size: 12px;
    }
    .call img{
        width: 30px;
    }
    .callnumber{
        margin-top: 12px;
        font-size: 12px;
    }
    .locationflex {
        margin-left: -22px;
    }
    .callflex{
        margin-left: -22px;
    }
    .pages {
        font-size: 20px;
        margin-top: 50px;
    }
    .pagescontent {
        margin-top: 20px;
        font-size: 12px;
    }
    .footersubdiv2 {
        margin-left: 12px;
    }
    .newsletter{
        font-size: 20px;
        margin-top: 50px;
        margin-left: 12px;
    }
    .newslettercontent{
        margin-top: 20px;
        font-size: 12px;
        margin-left: 12px;
    }
    .emailflex {
        margin-top: 20px;
    }
    .youremail {
        width: 245px;
        height: 40px;
        font-size: 10px;
    }
    .subscribe {
        width: 156px;
        height: 40px;
        font-size: 15px;
    }
    .copyright {
        font-size: 10px;
    }
    .footersocialicon img {
        width: 108px;
        padding: 26px 0px;
    }

}