*{
    margin: 0;
    padding: 0;
}
.grid{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}
.logomain{
    display: flex;
}
.logo img{
    width: 100%;
    width: 60px;
}
.logoname{
    font-family: 'Epilogue', sans-serif;
    width: 129px;
    text-align: center;
    margin-left: 5px;
    margin-top: -8px;
    color: white;
}
.headerflex li{
    list-style-type: none;
    margin-left: 50px;
}
.headerflex li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 100px;
}
.headerflex{
    display: flex;
    justify-content: space-between;
}
.headermaindiv{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    position: absolute;
}
.active{
    color: #C50E0E !important;
}
.contact{
    padding: 10px 20px;
    background-color: #C50E0E;
    color: white;
    border: none;
    border-radius: 3px;
    width: 140px;
    margin-top: 121px;
    margin-left: 660px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.herosecpic img{
    width: 100%;
}
.heroseccontent{
    position: absolute;
    font-family: 'Passion One', sans-serif;
    margin-top: 290px;
}
.heroseccontent h1{
    width: 60% ;
    font-size: 60px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 400px;
}
.trainer{
    font-family: 'Passion One', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
}
.trainer span{
    color: #C50E0E;
}
.trainermaindiv{
    display: flex;
}
.trainersubdiv1 img{
    width: 100%;
    width: 400px;
    height: 580px;
    margin-top: 40px;
    margin-left: 55px;
}
.alexorten{
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 23px;
    margin-top: 130px;
}
.fitnesscoach{
    font-family: 'Poppins', sans-serif;
    color: #C50E0E;
    font-size: 20px;
    margin-top: 20px;
}
.trainercontent{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    letter-spacing: 1.5px;
    width: 90%;
}
.trainerp2{
    margin-top: 20px;
}
.trainersubdiv2{
    margin-left: 80px;
}
.trainer2subdiv2 img{
    width: 100%;
    width: 400px;
    height: 540px;
    margin-top: 40px;
}
.trainer2subdiv1{
    margin-left: 50px;
}
.trainer2content{
    font-family: 'Poppins', sans-serif;
    margin-top: 140px;
    letter-spacing: 1.5px;
    width: 90%;
}
.fitnesscoach2{
    font-family: 'Poppins', sans-serif;
    color: #C50E0E;
    font-size: 20px;
    margin-top: 20px;
}
.alexorten2{
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 23px;
    margin-top: 100px;
}
.trainer2maindiv{
    display: flex;
}
.connect{
    font-family: 'Passion One', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
}
.connect span{
    color: #C50E0E;
}
.facebook img,.instagram img,.youtube img,.linkedin img{
    width: 100%;
    width: 135px;
    height: 135px;
}
.socialicon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.color{
    background-color: #161515;
    margin-top: 50px;
}
.logomain1{
    display: flex;
    margin-top: 50px;
}
.logo1 img{
    width: 100%;
    width: 60px;
}
.logoname1{
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    color: white;
    margin-left: 5px;
}
.logoname1 h3{
    width: 70%;
}
.footercontent{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 310px;
    margin-top: 30px;
}
.locationcontent{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 280px;
    margin-top: 5px;
}
.callnumber{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
}
.locationflex{
    display: flex;
    margin-top: 30px;
}
.callflex{
    display: flex;
    margin-top: 30px;
}
.footermaindiv{
    display: flex;
    justify-content: space-between;
}
.pages{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
.pagesflex li{
    list-style-type: none;
    margin-top: 20px;
}
.pagesflex li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.pagescontent{
    margin-top: 44px;
}
.footersubdiv1{
    margin-left: 30px;
}
.newsletter{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
.newslettercontent{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 44px;
    width: 350px;
}
.emailflex{
    display: flex;
    margin-top: 30px;
}
.youremail{
    padding: 0px 0px 0px 5px;
    width: 260px;
    height: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    outline: none;
    border: none;
}
.subscribe{
width: 160px;
height: 55px;
border: none;
background: #C50E0E;
color: #FFF;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 18px;
cursor: pointer;
}
.copyright{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    padding:30px 0px;
}
.blackcolor{
    background: black;
}
.footersocialicon img{
    width: 100%;
    padding: 20px 0px;
}
.copyrightflex{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 500px) {
    .logo img {
        width: 30px;
    }

    .logoname {
        margin-left: 1px;
        margin-top: -4px;
        font-size: 10px;
        width: 86px;
    }

    .logoname h3 {
        width: 81px;
    }

    .headerflex li a {
        font-size: 8px;
        margin-right: 0px;
    }
    .headerflex li {
        margin-left: 10px;
    }

    .marginright1 {
        width: 72px;
    }

    .marginright2 {
        width: 72px;
    }

    .marginright3 {
        width: 35px;
    }

    .headermaindiv {
        margin-top: 10px;
    }

    .logomain {
        margin-top: 5px;
    }
    .heroseccontent h1 {
        width: 60%;
        font-size: 20px;
        letter-spacing: 2px;
        margin-left: 100px;
    }
    .heroseccontent {
        margin-top: 110px;
    }

    .contact {
        padding: 6px 10px;
        width: 74px;
        font-size: 8px;
        margin-top: 5px;
        margin-left: 165px;
    }
    .trainer {
        margin-top: 25px;
        font-size: 12px;
    }
    .trainersubdiv1 img {
        width: 200px;
        height: 316px;
        margin-top: 30px;
        margin-left: 3px;
    }
    .trainersubdiv2 {
        margin-left: 10px;
    }
    .alexorten {
        font-size: 10px;
        margin-top: 43px;
    }
    .fitnesscoach {
        font-size: 12px;
        margin-top: 5px;
    }
    .trainercontent {
        margin-top: 5px;
        letter-spacing: 0px;
        width: 170px;
        font-size: 8px;
    }
    .trainer2subdiv2 img{
        width: 200px;
        height: 295px;
        margin-top: 30px;
    }
    .trainer2content {
        margin-top: 48px;
        letter-spacing: 0px;
        width: 90%;
        font-size: 8px;
    }
    .trainer2subdiv1 {
        margin-left: 2px;
    }
    .socialicon {
        margin-top: 30px;
    }
    .facebook img, .instagram img, .youtube img, .linkedin img {
        width: 100%;
        width: 60px;
        height: 60px;
    }
    .connect {
        margin-top: 30px;
        font-size: 12px;
    }
    .logo1 img {
        width: 55px;
        margin-top: 15px;
    }
    .logoname1 {
        margin-left: 5px;
        margin-top: 22px;
        font-size: 12px;
        width: 219px;
    }
    .logoname1 h3 {
        width: 153px;
    }
    .footermaindiv{
        display: block;
    }
    .logomain1 {
        margin-left: -15px;
    }
    .footercontent {
        margin-top: 20px;
        font-size: 12px;
        margin-left: -16px;
    }
    .location img{
        width: 10px;
    }
    .location img {
        width: 30px;
    }
    .locationcontent {
        margin-top: 0px;
        font-size: 12px;
    }
    .call img{
        width: 30px;
    }
    .callnumber{
        margin-top: 12px;
        font-size: 12px;
    }
    .locationflex {
        margin-left: -22px;
    }
    .callflex{
        margin-left: -22px;
    }
    .pages {
        font-size: 20px;
        margin-top: 50px;
    }
    .pagescontent {
        margin-top: 20px;
        font-size: 12px;
    }
    .footersubdiv2 {
        margin-left: 12px;
    }
    .newsletter{
        font-size: 20px;
        margin-top: 50px;
        margin-left: 12px;
    }
    .newslettercontent{
        margin-top: 20px;
        font-size: 12px;
        margin-left: 12px;
    }
    .emailflex {
        margin-top: 20px;
    }
    .youremail {
        width: 245px;
        height: 40px;
        font-size: 10px;
    }
    .subscribe {
        width: 156px;
        height: 40px;
        font-size: 15px;
    }
    .copyright {
        font-size: 10px;
    }
    .footersocialicon img {
        width: 108px;
        padding: 26px 0px;
    }
}
